[submodule "cs6250-pr1"]
	path = cs6250-pr1
	url = ../cs6250-pr1
	branch = main
[submodule "cs6250-pr2"]
	path = cs6250-pr2
	url = ../cs6250-pr2
[submodule "cs6250-pr3"]
	path = cs6250-pr3
	url = ../cs6250-pr3
[submodule "cs6250-pr4"]
	path = cs6250-pr4
	url = ../cs6250-pr4
[submodule "cs6250-pr5"]
	path = cs6250-pr5
	url = ../cs6250-pr5
